body{
    background-color: aliceblue;
}
input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-right: 5px;
    border-radius: 7px;
}
.container{
    height:70px;
    padding:5px;
    /* background-color: #007bff; */
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}