body{
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
   /* height:100%;
   width:100%; */
   background-size: cover;

   
}
.container h1{
    color:orange;
    /* color:#007bff; */
}
input[type="text"] {
    padding: 15px;
    width: 80%;
    margin-right: 5px;
    border-radius: 30px;
    box-shadow: 1px 2px 13px hsl(0, 100%, 100%);
}

.container{
    margin-bottom: 60px;
    height:70px;
    width:50%;
    text-align: center;
    margin:0 auto;
    /* background-color: #007bff; */
}

button {
    margin-top: 20px;
    padding: 15px;
    background:linear-gradient(to right, grey, light green);
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.buttonstore{
    display: flex;
    justify-content: space-around;
}
.results{
    margin: 110px 10px 0px 10px;
    padding-left:50px;
    border-color: #d3d3;
    align-items: center;
    
    background-color:azure;
   
    
}
a{
    color:#000000;
    text-decoration: none;
}
