body{
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    background-size:cover;
   
}
.container h1{
    color:#007bff;
}
input[type="text"] {
    padding: 15px;
    width: 700px;
    margin-right: 5px;
    border-radius: 30px;
    box-shadow: 1px 2px 13px hsl(0, 100%, 100%);
}

.container{
    margin-bottom: 60px;
    height:70px;
    width:50%;
    text-align: center;
    margin:0 auto;
    /* background-color: #007bff; */
}

button {
    margin-top: 20px;
    padding: 10px;
    background:linear-gradient(to right, grey, orange);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.buttonstore{
    display: flex;
    justify-content: space-around;
}
.results{
    margin-top: 100px;
    border-color: #d3d3;
    align-items: center;
    margin-left:5px;
    margin-right: 5px;
    background-color:azure;
   
    
}
